<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" [(ngModel)]="user.firstName" name="firstName" required class="form-control" id="firstName" placeholder="Enter First Name">
  </div>
  <div class="form-group">
    <label for="middleName">Middle Name</label>
    <input type="text" [(ngModel)]="user.middleName" name="middleName" class="form-control" id="middleName" placeholder="Enter Middle Name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" [(ngModel)]="user.lastName" name="lastName" required class="form-control" id="lastName" placeholder="Enter Last Name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="user.email" name="email" required class="form-control" id="email" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="user.password" name="password" required class="form-control" id="password" placeholder="Enter Password">
  </div>
  <button class="btn btn-primary" (click)="register()">Register</button>
</form>