/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
home {
  display: inline-block;
  float: left;

}

app-sidebar, app-login, app-dashboard, app-register, app-video {
  display: inline-block;
  float: left;
}

app-login {
  margin: 10% 20%;
}

app-register {
  margin: 10% 20%;
}